.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.message {
	-fx-text-fill: red;
	-fx-text-alignment: center;
}

.scrollPane {
	-fx-background-color: rgb(255,255,255);
	-fx-padding: 5;
	-fx-spacing: 10;
}

.hbox {
	-fx-padding: 5;
	-fx-spacing: 10;
}

.padding {
	-fx-spacing: 10;
}

.center {
	-fx-text-alignment: center;
}

.borderedBox {
	-fx-padding: 25;
	-fx-spacing: 10;
}

.createButton {
	-fx-spacing: 10;
	-fx-padding: 5;
}

.textField {
	-fx-padding: 5;
	-fx-spacing: 10;
}

/* TitledBorder */
.bordered-titled-title {
  -fx-background-color: white;
  -fx-translate-y: -10; /* play around with this value when changing the title font to get a vertically centered title */
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 10 0 0 0;
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-border-width: 2;
}

.bordered-titled-content {
  -fx-padding: 0;
}
